@import url('https://db.onlinewebfonts.com/c/424dca828dee407629efe273d0a28630?family=Spotify+Mix');
@import url('https://db.onlinewebfonts.com/c/91bf51a8358ebe7c72e49ea84fd8db7f?family=Spotify+Mix+Extrabold');

.app-header {
    background-color: $clrblack;
    position: sticky;
    align-self: flex-start;
    height: fit-content;
    top: 0;
    margin-left: 18px;
    margin-right: 18px;

    nav {
        height: 64px;
        justify-content: space-between;
        display: flex;
        width: 100%;
        align-items: center;

        font-size: 0.8em;

        .active {
            color: $clrwhite;
        }

        .login-link {
            margin-inline-start: auto;
        }

        button {
            margin-inline-end: 0;
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;
        color: $clrwhite;



        .btn-link {
            color: $clrdarkgray;
        }
    }

    img {
        width: 55px;
        aspect-ratio: 1;

    }

    .header-middle {
        flex: 1;
        align-items: center;
        display: flex;
        gap: 8px;
        justify-content: center;

        .when-home,
        .when-not-home {
            svg {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .when-not-home {
            svg {
                fill: none;
                stroke: $clrsubtxt;
                stroke-width: 2px;
            }

        }

        .when-home {
            svg {
                fill: $clrwhite;
                stroke: $clrwhite;
            }
        }

        img {
            width: 35px;
            aspect-ratio: 1;
        }

        .home-logo-wrapper {
            position: relative;
            height: 48px;
            width: 48px;
            background-color: $clrgray;
            border-radius: 50%;
        }
    }

    .search-bar {

        display: flex;
        align-items: center;
        position: relative;
        height: 48px;
        width: 474px;

        img {
            width: 30px;
            aspect-ratio: 1;
            border-radius: 40%;
        }

        input {
            padding-left: 50px;
            width: 100%;
            height: 46px;
            border-radius: 50px;
            color: $clrsubtxt;
            background-color: $clrgray;
            border-color: $clrgray;
            font-size: 1rem;
            text-align: left;
            border: 0;
            color: white;
        }

        input::placeholder {
            color: $clrsubtxt;
            font-family: 'Spotify Mix', sans-serif;
        }

        input:hover {
            background-color: #282828;
            border: $clrsubtxt;
        }

        input:focus {
            outline: 2px solid $clrwhite;
            outline-offset: 2px;
        }

        .search-link,
        .explore-link {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .explore-active {
            fill: $clrwhite;
        }

        .explore-default {
            fill: $clrsubtxt;
        }

        .explore-link {
            right: 0.75em;
            padding-left: 12px;
            border-left: 0.5px solid #7c7c7c;
            height: 26px;
        }

        .search-link {
            left: 0.75em;
            fill: $clrsubtxt;
        }

    }
}