@import url('https://db.onlinewebfonts.com/c/424dca828dee407629efe273d0a28630?family=Spotify+Mix');
@import url('https://db.onlinewebfonts.com/c/91bf51a8358ebe7c72e49ea84fd8db7f?family=Spotify+Mix+Extrabold');

.library-bar{

  a{
    text-decoration: none;
  }

  .header-create-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    height: 36px;
    min-width: 201px;
    max-width: 388px;
    h1{
      letter-spacing: -0.03rem;
      color: $clrwhite;
      font-size: 1rem;
      margin: 0;
    }


    .create{
      font-family: 'Spotify Mix', sans-serif;
      letter-spacing: -0.03rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $clrgray;
      border-radius: 50px;
      border:0;
      width: 100px;
      height: 36px;
      fill: $clrsubtxt;
      padding-right: 16px;
      padding-left: 16px;
      h1{
        padding-bottom: 2px;
        height: 19px;
        color: $clrwhite;
        font-size: 0.875rem;
      }
    }
  }
  .sort-filter-library-content{
    display: flex;
    flex-direction: column;
    margin: 8px 16px 8px 16px;
    .filter-by-cat{
      display: flex;
      justify-content: start;
      gap: 8px;
      margin-bottom: 8px;

      button{
        font-family: 'Spotify Mix', sans-serif;
        background-color: #2b2b2b;
        color: white;
        border: 0;
        height: 32px;
        padding: 4px 12px 4px 12px;
        border-radius: 100px;
      }
      button:hover{
        background-color: #343434;
      }
    }
    .sort-by{
      display: flex;
      justify-content: space-between;
      padding: 2px 16px 0 0;
      height: 34px;
      button{
        background-color: $clrdarkgray;
        fill: $clrsubtxt;
        border: 0;
        color: $clrsubtxt;
        font-family: 'Spotify Mix', sans-serif;
        font-size: 0.875rem;
        padding: 0;
      }
      .text-query{
        display: flex;
        justify-content: center;
        height: 32px;
        width: 32px;
        border-radius: 100px;
      }
      .text-query:hover{
        background-color: #272727;
        fill: white;
      }
    }
  }
}