.library-bar{

  a{
    text-decoration: none;
  }

  .header-create-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    
    height: 36px;
    min-width: 201px;
    max-width: 388px;
    h1{
      color: $clrwhite;
      font-size: 1rem;
      margin: 0;
    }


    .create{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $clrgray;
      border-radius: 50px;
      border:0;
      margin: 8px;
      width: 100px;
      height: 36px;
      fill: $clrsubtxt;
      gap: 3px;

      h1{
        height: 19px;
        margin: 0;
        color: $clrwhite;
        font-size: 0.875rem;
      }
    }
  }

}