.song-preview {
    display: grid;
    grid-template-columns: 20px minmax(490px, 53%) minmax(252px, 25%) 15% 5%;
    grid-template-areas: '_index _title _album _added _length';
    grid-gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 0.85em;
    color: $clrsubtxt;
    align-items: center;
    border-radius: 7px;
    height: 54px;

    .song-index {
        grid-area: _index;
        justify-self: center;

        p {
            display: block;
        }

        svg {
            fill: $clrwhite;
            display: none;
        }
    }

    .song-title {
        grid-area: _title;
        display: flex;
        flex-direction: row;

        img {
            border-radius: 6px;
            height: 40px;
            width: 40px;
        }

        .song-name-artists {
            padding-left: 10px;

            p {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                font-size: 1rem;
                color: $clrwhite;
            }

            .explicit-and-artists {
                display: flex;
                flex-direction: row;

                p {
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-size: 0.875rem;
                    color: $clrsubtxt;
                }

                h6 {
                    font-size: 0.875rem;
                    margin-right: 3px;
                }
            }
        }
    }

    .song-album {
        grid-area: _album;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;

    }

    .song-added {
        grid-area: _added;
    }

    .song-length {
        grid-area: _length;
        text-align: end;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            fill: $clrgreen;
            display: none;
        }
    }

}

.song-preview:hover {
    background-color: $clrgray;

    .song-index {
        p {
            display: none;
        }

        svg {
            fill: $clrwhite;
            display: block;
        }
    }

    .song-length {
        svg {
            display: block;
            align-self: center;
            justify-self: center;
        }
    }

}

.playing-song-preview {
    .song-index {
        color: $clrgreen;
    }

    .song-title {
        color: $clrgreen;

        p {
            color: $clrgreen;
        }
    }
}