.playlist-song-query-wrapper{
    margin-top: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 85px;
    border-top: 1px solid #313131;
    

    .main-actions{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        .text-input-wrapper{
            h1{
                margin: 0;
                font-size: 1.5rem;
                height: 29px;
                margin-bottom: 16px;
            }
            .query{
                display:flex;
                align-items: center;
                position: relative;
                .query-button{
                    fill: $clrsubtxt;
                    position: absolute;
                    top: 50%;
                    transform: translate(50%, -50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }
                .query-button:hover{
                    fill: $clrwhite;
                }

                input{

                    background-color: #2b2b2b;
                    border: 0;
                    height: 24px;
                    width: 334.4px;
                    color: $clrsubtxt;
                    font-size: 0.875rem;
                    padding-left: 32px;
                    padding-right: 32px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    border-radius: 4px;
                    
                }
                input::placeholder{
                        color: $clrsubtxt;
                        font-size: 0.875rem;
                }
                input:focus{
                    outline: 0;
                }
            }

        }

        .close-button{
            fill: $clrsubtxt;
            margin-right: 8px;
        }
        .close-button:hover{
            fill: $clrwhite;
        }
    }
}

.search-bar{
        
        display:flex;
        align-items: center;
        position: relative;
        height: 48px;
        width: 474px;

        img {
            width: 30px;
            aspect-ratio:1;
            border-radius: 40%;
        }

        input{
            padding-left: 40px;
            width: 100%;
            height: 46px;
            border-radius: 50px;
            color: $clrsubtxt;
            background-color: $clrgray;
            border-color: $clrgray;
            font-size: 1rem;
            text-align:left;
            border: 0;
        }
        input::placeholder{
            color: $clrsubtxt;
        }
        input:hover{
            background-color: #282828;
            border: $clrsubtxt;
        }

        input:focus{
            outline: 2px solid $clrwhite;
            outline-offset: 2px;
        }

        .search-link, .explore-link{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .explore-active{
            fill: $clrwhite;
        }
        .explore-default{
            fill: $clrsubtxt;
        }

        .explore-link{
            right: 0.75em;
            padding-left: 12px;
            border-left: 0.5px solid #7c7c7c;
            height: 26px;
        } 

        .search-link{
            left: 0.75em;
            fill: $clrsubtxt;
        }

    }