.library-station-object {
  display: flex;
  align-items: center;
  height: 48px;
  min-width: 228px;
  max-width: 428px;
  width: 95%;
  padding: 8px;
  margin: 0 8px;
  gap: 10px;
  color: $clrwhite;
  border-radius: 6px;

  .svg-thumbnail {
    flex-shrink: 0; // thumbnail never shrinks
    position: relative;
    width: 48px;
    height: 48px;

    div {
      position: absolute;
      width: 48px;
      height: 48px;

      svg {
        fill: $clrwhite;
        display: none;
        z-index: 1;
        transform: translate(50%, 50%);
      }
    }

    img {
      position: absolute;
      width: 48px;
      aspect-ratio: 1;
      border-radius: 6px;
    }
  }

  .library-station-details {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 48px;

    p,
    h1 {
      margin: 0;
    }

    h1 {
      font-size: 1rem;
      font-weight: 500;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      color: $clrsubtxt;
      font-size: 0.875rem;
    }
  }
}

.library-station-object:hover {
    background-color: $clrgray;

    .svg-thumbnail {
        img {
            filter: brightness(50%);
        }

        svg {
            display: block;
        }
    }
}