.library-station-object {
    display: flex;
    align-items: center;
    height: 48px;
    width: 95%;
    padding: 8px;
    margin-right: 8px;
    margin-left: 8px;
    gap: 8px;
    color: $clrwhite;
    border-radius: 6px;

    .svg-thumbnail {
        position: relative;
        width: 48px;
        height: 48px;

        div {
            position: absolute;
            width: 48px;
            height: 48px;

            svg {
                fill: $clrwhite;
                display: none;
                z-index: 1;
                transform: translate(50%, 50%);
            }
        }


        img {
            position: absolute;
            width: 48px;
            aspect-ratio: 1;
            border-radius: 6px;
        }
    }

    .library-station-details {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 48px;

        p,
        h1 {
            margin: 0;
        }

        h1 {
            font-size: 1rem;
        }

        p {
            color: $clrsubtxt;
            font-size: 0.875rem;
        }
    }
}

.library-station-object:hover {
    background-color: $clrgray;

    .svg-thumbnail {
        img {
            filter: brightness(50%);
        }

        svg {
            display: block;
        }
    }
}