.homepage-container{
    
    padding-left: 28px;
    display: grid;

    grid-template-columns: auto;
    grid-template-rows: 140px 303.5px;

    grid-auto-rows: 303.5px;
    grid-auto-flow: row;
    grid-row-gap: 32px;

    .homepage-genre-section{
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 8px;
        height: calc(303.5px + 8px); 
        h2{
            font-size: 1.5rem;
            padding-left: 12px;
        }
    }

    .home-stations-by-genre-container{
        display: grid;

        grid-template-rows: 247.5px;
        grid-template-columns: 195.5px;
    
        grid-auto-columns: 195.5px;
        grid-auto-flow: column;

        .home-station-wrapper{
            padding:12px;
            border-radius: 6px;
        }
        .home-station-wrapper:hover{
            background-color: $clrgray;
        }
        
    }


    h1, h2{
        color: $clrwhite;
    }

    a, a:visited, a:active{
        color: $clrwhite;
        text-decoration:none;
    }
}

