@import url('https://db.onlinewebfonts.com/c/424dca828dee407629efe273d0a28630?family=Spotify+Mix');
@import url('https://db.onlinewebfonts.com/c/91bf51a8358ebe7c72e49ea84fd8db7f?family=Spotify+Mix+Extrabold');

html {
    line-height: normal;
    color: $clrgreen;
}

body {
    margin: 0 auto;
    background-color: $clrblack;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Spotify Mix', sans-serif;
    font-size: rem(18px);
    letter-spacing: -0.03rem;
    font-weight: 500;

}

img {
    object-fit: cover;
    object-position: center;
}

a,
a:visited,
a:active {
    color: $clrwhite;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


pre {
    white-space: pre-wrap;
}

i {
    display: flex;
    align-items: center;
    align-content: center;
}