// Colors
$clrwhite: #fff; //pure white color
$clrdarkgray: #121212; //dark gray color used as many backgrounds on components
$clrgreen: #1ed761; //classic green color
$clrblack: #000000; //pure black color - used as the background
$clrsubtxt: #b3b3b3; //sub text color
$clrgray: #1f1f1f; //i'll use it as the input color and maybe backgrounds of components that hover over components

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;