.main-container {
    width: 99%;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    '_header _header'
    'aside main'
    'footer footer';
    grid-gap: 1px 0.5em;
}

.main-header{
    grid-area: _header;
    justify-content: center;
}

.main-librarybar{
    grid-area: aside;
    background-color: $clrdarkgray;
    border-radius: 8px;
    padding: 5%;
}

.main-content{
    grid-area: main;
    background-color: $clrdarkgray;
    border-radius: 8px;
    padding: 1%;
    overflow-y: auto;
}

.main-footer{
    grid-area: footer;
}   

